In [1]:
import pandas as pd
import numpy as np
import zipfile36 as zipfile

In [3]:
file = zipfile.ZipFile('coord_events.csv.zip', 'r')

In [6]:
pd.read_csv(file.open('coord_events.csv'))

        possession_team_name    type_name  location_x  location_y
0                Reading WFC  Starting XI         NaN         NaN
1                Reading WFC  Starting XI         NaN         NaN
2                Reading WFC   Half Start         NaN         NaN
3                Reading WFC   Half Start         NaN         NaN
4        Birmingham City WFC         Pass        61.0        40.1
...                      ...          ...         ...         ...
3970557          Switzerland  Goal Keeper         1.0        40.0
3970558                Spain         Shot       107.8        40.0
3970559                Spain  Goal Keeper         1.0        40.0
3970560                Spain     Half End         NaN         NaN
3970561                Spain     Half End         NaN         NaN

[3970562 rows x 4 columns]